<?xml version="1.0" encoding="utf-8" ?>
<!--
This is an old file for doing cross-platform P/Invoke with Mono. It doesn't work for .NET core.
When Cairo is ported to a linux platform, this should be handled properly in other ways.
-->
<configuration>
  <dllmap os="windows" dll="NativeCairo.dll" target="NativeCairo.dll"/>
  <dllmap os="linux" dll="NativeCairo.dll" target="libcairo.so"/>
</configuration>
